:root {
  background-color: #08032f;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  padding: 0;

  --white-neutral: #ffffff;
  --dark-blue: #08032f;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--dark-blue) !important;
}

.itinerary-badge {
  position: absolute;
  right: 342px;
  top: 8px;
}

.choice-badge {
  position: absolute;
  right: 205px;
  top: 8px;
}

.card-img {
  object-fit: contain;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-text {
  text-align: justify;
}

.my-toast {
  position: absolute;
  bottom: -1230px;
  left: 40vw;
}
