:root {
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  padding: 0;

  --white-neutral: #ffffff;
  --dark-blue: #08032f;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--dark-blue) !important;
  font-family: "Trebuchet MS", sans-serif !important;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.itinerary-badge {
  position: absolute;
  right: 342px;
  top: 8px;

  @media screen and (max-width: 840px) {
    position: inherit;
  }
}

.choice-badge {
  position: absolute;
  right: 205px;
  top: 8px;
  @media screen and (max-width: 840px) {
    position: inherit;
  }
}

.card-img {
  object-fit: contain;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-text {
  text-align: justify;
}

.my-toast {
  position: absolute;
  bottom: -1230px;
  left: 40vw;
}
.stamp {
  position: absolute;
  top: -20px;
  left: -20px;
  transform: rotate(340deg);
  opacity: 0.6;
  z-index: 1;
}
