@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap");

:root {
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  padding: 0;

  --white-neutral: #ffffff;
  --dark-blue: #08032f;
  --red: #ae412e;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--dark-blue) !important;
  font-family: "Trebuchet MS", sans-serif !important;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.itinerary-badge {
  position: absolute;
  right: 340px;
  top: 8px;

  @media screen and (max-width: 900px) {
    position: inherit;
  }
}

.choice-badge {
  position: absolute;
  right: 205px;
  top: 8px;
  @media screen and (max-width: 900px) {
    position: inherit;
  }
}

.card {
  width: 300px;
  background-image: url("../../../src/assets/897940_2588.jpg");
  font-size: 25px;
  margin: 10px;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 700px) {
    width: calc(100% - 20px);
  }
}

.card-title {
  font-size: 28px;
  font-weight: bold;
  color: var(--red);
}

/*RAMANE card-img?*/

.card-img {
  object-fit: cover;
}

.card-img-top {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-text {
  text-align: justify;
  font-weight: bold;
}

.my-landmark-toast {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  border: none;
  border-radius: 6px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  color: var(--dark-blue);
}

.my-city-toast {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  border: none;
  border-radius: 6px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  color: var(--dark-blue);
}

.toast {
  z-index: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.stamp {
  position: absolute;
  padding: 20px;
  top: -20px;
  left: -20px;
  transform: rotate(340deg);
  opacity: 0.6;
  z-index: 1;
}

/* FONTS */
.tangerine-bold {
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
}

.tangerine-regular {
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;
}
